$color1:#635FC7;
$color2:#A8A4FF;
$color3:#000112;
$color4:#20212C;
$color5:#2B2C37;
$color6:#3E3F4E;
$color7:#828FA3;
$color8:#E4EBFA;
$color9:#F4F7FD;
$color10:#FFFFFF;
$color11:#EA5555;
$color12: #FF9898;


// $color1:#633DBA;
// $color2: #E4EBFA;
// $color3: #F4F7FD;