@import 'colors';

.TaskPanel{
    background-color: $color9;
    flex-grow: 2;
    transition: all 0.5s;
    padding:15px;
    overflow: scroll;
    // scrollbar-width: thin;
    &.showListPanel{
        margin-left:250px;
    }
    &.showDetailsPanel{
        margin-right: 250px;;
    }
    & > .title{
        display: flex;
        align-items: center;
        height:50px;
        
    }
    & h3{
        
        text-align: left;
    }
}