@import 'colors';

.TaskPanel{
    background-color: $color9;
    flex-grow: 2;
    transition: all 0.5s;
    padding:0 15px;
    overflow-Y: scroll;
    // scrollbar-width: thin;
    &.showListPanel{
        margin-left:250px;
    }
    &.showDetailsPanel{
        margin-right: 250px;;
    }
    & > .title{
        display: flex;
        align-items: center;
        height:50px;
        
    }
    & h2, & h3{
        text-align: left;
        letter-spacing: 1.5px;
        color:$color7;
    }
}