@import 'colors';

.TaskPanel{
    background-color: $color3;
    flex-grow: 2;
    transition: all 0.5s;
    &.showListPanel{
        margin-left:250px;
    }
    &.showDetailsPanel{
        margin-right: 250px;;
    }
    & > .title{
        display: flex;
        align-items: center;
        height:50px;
        
        & h2{
            margin:0 0 0 15px;
        }
    }
    & h3{
        margin-left:15px;
        text-align: left;
    }
}