.TodoItem {
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 10px;
  width: 40%;
  border-radius: 0.5em;
  padding: 7px;
  box-shadow: 1px 1px 6px #d9dce1;
  cursor: pointer;
  &.selected {
    box-shadow: 1px 1px 8px #a0a4a8;
  }
  & > .infos{
    max-width: 80%;
    & > .name{
      width:100%;
      font-weight:bold;
      display:inline-block;
      font-size:1.3em;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  
  & p {
    margin: 5px;
    text-align:left;
  }
}
