.TodoItem {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 10px;
  width: 40%;
  border-radius: 0.5em;
  padding: 7px;
  box-shadow: 1px 1px 6px #d9dce1;
  cursor: pointer;
  &.selected {
    box-shadow: 1px 1px 8px #a0a4a8;
  }
  & > .name{
    font-weight:bold;
    display:inline-block;
    font-size:1.3em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  & p {
    margin: 5px;
    text-align:left;
  }
}
