*{
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.color1{
  color: #633DBA;
}


.backgroundColor1{
  background-color: #633DBA;
}

.bold{
  font-weight: bold;
}

.cursor{
  cursor: pointer;
}

.center{
  text-align: center;
}